<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover Api App</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>Welcome to the Mars Rover Api</h2>

    <form action="/" id="frmRoverType" method="post">
        <input th:field="${homeDto.marsApiRoverData}" type="hidden"/>
        <input th:field="${homeDto.userId}" type="hidden"/>
        <input id="createUser" name="createUser" type="hidden"/>
        <div aria-label="Basic example" class="btn-group btn-group-lg" role="group" style="margin: 2em 0em;">
            <button class="btn btn-primary" id="marsApiCuriosity" type="button">Curiosity</button>
            <button class="btn btn-primary" id="marsApiOpportunity" type="button">Opportunity</button>
            <button class="btn btn-primary" id="marsApiSpirit" type="button">Spirit</button>
        </div>

        <!--        <div th:if="${homeDto.marsApiRoverData == 'Opportunity' || homeDto.marsApiRoverData == ''}">
                    <div th:text="${validCameras.get('Opportunity')}"></div>
                </div>
                <div th:if="${homeDto.marsApiRoverData == 'Spirit'}">
                    <div th:text="${validCameras.get('Spirit')}"></div>
                </div>
                <div th:if="${homeDto.marsApiRoverData == 'Curiosity'}">
                    <div th:text="${validCameras.get('Curiosity')}"></div>
                </div>-->

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraFhaz1">Front Hazard Avoidance Camera</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'FHAZ') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraFhaz}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraRhaz1">Rear Hazard Avoidance Camera</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'RHAZ') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraRhaz}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraMast1">Mast Camera</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAST') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraMast}" type="checkbox">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraChemcam1">Chemistry and Camera Complex</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'CHEMCAM') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraChemcam}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraMahli1">Mars Hand Lens Imager</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MAHLI') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraMahli}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraMardi1">Mars Descent Imager</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MARDI') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraMardi}" type="checkbox">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraNavcam1">Navigation Camera</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'NAVCAM') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraNavcam}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraPancam1">Panoramic Camera</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'PANCAM') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraPancam}" type="checkbox">
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="form-check">
                    <label class="form-check-label" for="cameraMinites1">Miniature Thermal Emission Spectrometer
                        (Mini-TES)</label>
                    <input class="form-check-input"
                           th:attr="disabled=${!#lists.contains(validCameras, 'MINITES') ? 'disabled' : 'false'}"
                           th:field="${homeDto.cameraMinites}" type="checkbox">
                </div>
            </div>
        </div>

        <div class="form-group" style="margin: 2em 0em;">
            <label class="form-label col-form-label-lg"> Mars Sol (aka mars day): </label>
            <input class="form-control form-control-lg" min="0" th:field="${homeDto.marsSol}" type="number"/>
        </div>

        <div class="row">
            <div class="col-3 col-md-2">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
            <div class="col-9 col-md-10" style="margin-top: 0.7em;">
                <label for="rememberPreferences1">Remember Preferences</label>
                <input th:field="${homeDto.rememberPreferences}" type="checkbox"/>
            </div>
        </div>


    </form>


    <div class="row" style="margin-bottom: 2em" th:each="index : ${#numbers.sequence(0,marsRoverData.photos.size(),4)}">
        <div class="col-sm" th:if="${index < marsRoverData.photos.size()}">
            <img alt="..." class="img-fluid" th:src="${marsRoverData.photos[index].imgSrc}">
        </div>
        <div class="col-sm" th:if="${index+1 < marsRoverData.photos.size()}">
            <img alt="..." class="img-fluid" th:src="${marsRoverData.photos[index+1].imgSrc}">
        </div>
        <div class="col-sm" th:if="${index+2 < marsRoverData.photos.size()}">
            <img alt="..." class="img-fluid" th:src="${marsRoverData.photos[index+2].imgSrc}">
        </div>
        <div class="col-sm" th:if="${index+3 < marsRoverData.photos.size()}">
            <img alt="..." class="img-fluid" th:src="${marsRoverData.photos[index+3].imgSrc}">
        </div>
    </div>
</div>

<!--    <img th:each="photo : ${marsRoverData.photos}" th:src="${photo.imgSrc}">-->
</div>


<!--<div th:text="${marsRoverData}">static marsRoverData</div>-->

<script src="/js/index.js" type="text/javascript"></script>
<script crossorigin="anonymous"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>